<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firewall Modell</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oxanium">
</head>
<body>
<div class="text">
     <h1>Firewall Modell</h1>
     <p>Gib im oberen Input-Feld deine theoretische IP-Adresse ein, von der du diesen File-Server erreichen möchtest. Die öffentliche IP des Servers ist angegeben. Gib dann einen Port ein, auf dessen Dienst du Zugriff möchtest und klicke auf „Verbinden“. </p>
     <p>Die Firewall des Servers entscheidet dann, ob du mit deiner eingegebenen IP Zugriff auf den Server und den Dienst, der über den eingegebenen Port läuft, hast. Private IPs können den Server nicht erreichen, da sie nur für ein spezifisches Gerät innerhalb deines lokalen Netzes stehen.</p>
</div>
<div id="eingabe">
    <div class="input">
        <label for="ip">Deine IP-Adresse</label><br>
        <input id="ip" type="text" name="ip"/>
    </div>
    <br>
    <br>
    <span id="server-ip">192.168.232.1 :</span>
    <div class="input">
        <label for="port">Port</label><br>
        <input id="port" type="text" name="port" size="3"/>
    </div>
    <div class="button">
        <button onclick="meldung()">Verbinden</button>
    </div>
    <div class="arrow">
        <span>&#x2B9E;&#x2B9E;&#x2B9E;</span> 
    </div>
    <div class="server">
        <img src="/bilder/server_icon.png" width="80px"/>
    </div>
    <div id="erfolg">
        <span>Erfolg!<br> 
            Die Firewall des Servers hat die Verbindung zugelassen!</span>
    </div>
    <div id="fehler">
        <span>Fehler!<br>
            Die Firewall des Servers hat die Verbindung geblockt!</span>
    </div>
</div> 

<script src="script.js"></script>
</body>
</html>